{% extends 'shows/base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block metablock %}

{% endblock %}

{% block content %}
<div class="podcast-intro">
    <img class="podcast-art" src="{{object.image.url}}" alt="{{object.name}}">
    <h1 class="podcast-name">{{object.name}}</h1>
    <div class="mobile-buffer"></div>
    <p>{{object.description}}</p>

    <div class="listen-gallery">
        {% if object.itunes_url %}
            <a href="{{object.itunes_url}}">
                <img class="site-badge itunes-badget" src="https://s3.amazonaws.com/media.kbia.org/logos/apple_podcast_badge.svg"
                    alt="Find on iTunes.">
            </a>
        {% endif %}
        {% if object.npr_one_url %}
            <a href="{{object.itunes_url}}">
                <img class="site-badge npr-badge" src="https://s3.amazonaws.com/media.kbia.org/logos/npr_one.png"
                    alt="Find on NPR One.">
            </a>
        {% endif %}
    </div>

</div>
<div class="secondary-listening-gallery">
    <h2>Other Listening Options</h2>
    {% if object.feed_url %}
    <a class="tippy" href="{{object.feed_url}}" title="RSS Feed">
        <img  src="{% static 'rss-icon.png' %}" alt="RSS Feed">
    </a>
    {% endif %}
    {% if object.google_url %}
    <a class="tippy" href="{{object.google_url}}" title="Google Play Music">
        <img src="{% static 'google-play.png' %}" alt="Google Play">
    </a>
    {% endif %}
    {% if object.stitcher_url %}
    <a class="tippy" href="{{object.stitcher_url}}" title="Stitcher">
        <img src="{% static 'stitcher-icon.png' %}" alt="Stitcher">
    </a>
    {% endif %}
    {% if object.overcast_url %}
    <a class="tippy" href="{{object.overcast_url}}" title="Overcast">
        <img src="{% static 'overcast.png' %}" alt="Overcast">
    </a>
    {% endif %}
    {% if object.pocket_casts_url %}
    <a class="tippy" href="{{object.pocket_casts_url}}" title="Pocket Casts">
        <img src="{% static 'pocket-casts.png' %}" alt="Pocket Casts">
    </a>
    {% endif %}
</div>
</div>
{% endblock %}