div.podcast-intro{
  padding-top: 0.5em;
  @include clearfix;

  img.podcast-art{
    max-width: 250px;
    float: left;
    padding-right: 2rem;
    padding-bottom: 1rem;

  }

  h1.podcast-name{
    font-size: 3.5rem;
    padding-bottom: 0.3em;

    &:after{
      display: table;
      width:120px;
      padding-top: 10px;
      border-bottom: 6px solid $project-primary;
      content: "";
    }
  }

  p{
    font-size: 1.3rem;
    line-height: 1.2em;
    color: $gray-light;
  }

  div.listen-gallery{
    margin-top: 1rem;
    margin-bottom: 1rem;

    a {
      width: 140px;
      float: left;
      display: inline-block;
    }
    img{
      max-height: 34px;
    }
  }

}
  div.secondary-listening-gallery{
    h2{
      color: lighten($gray-light, 20);
      font-size: 1rem;
      text-transform: uppercase;

      &:after{
        display: table;
        width: 100%;
        padding-top: 4px;
        border-bottom: 1px solid lighten($gray-light, 30);
        content: "";
      }
    }
  }

h2{
   color: lighten($gray-light, 20);
   font-size: 1rem;
   text-transform: uppercase;
   &:after{
     display: table;
     width: 100%;
     padding-top: 4px;
     border-bottom: 1px solid lighten($gray-light, 30);
     content: "";
    }
}
